[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
twine = "*"

[packages]
aiohttp = "*"
base58 = "*"
cryptography = "*"
ecdsa = "*"
mnemonic = "*"
pycryptodomex = "*"
requests = "*"
websockets = "*"

[requires]
python_version = ">=3.6"
