[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
twine = "*"

[packages]
aiohttp = ">=3.5.4"
base58 = ">=1.0.3"
cryptography = ">=2.7"
ecdsa = ">=0.13.2"
mnemonic = ">=0.18"
pycryptodomex = ">=3.8.2"
requests = ">=2.22.0"
websockets = ">=7.0"
